body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 400px; /* Largeur ajustée du conteneur */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* S'assure que le padding et la bordure sont inclus dans la largeur */
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}
